body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: 100vh;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
    /*background-color: skyblue;*/
    background-image:url(images/flappybirdbg.png) ;
    
}
